.table {
  border-collapse: collapse;
  width: 100%;
  text-align: left;
  border: 1px solid $grey-grade--1;
  thead {
    tr {
      background-color: $grey-grade--2;
      border-bottom: 1px solid $grey-grade--1;
      th {
        padding: 0.875rem;
        text-align: left;
      }
    }
  }

  tbody {
    tr {
      border-bottom: 1px solid $grey-grade--1;
      td {
        padding: 0.875rem;
        text-align: left;
      }
    }
  }
  &.striped {
    tbody {
      tr {
        &:nth-child(even) {
          background-color: $grey-grade--2;
        }
      }
    }
  }
}
