$text-color-grade--1: rgba(54, 54, 54, 1);
$text-color-grade--2: rgba(74, 74, 74, 1);

$white-grade--1: rgba(255, 255, 255, 1);

$red: #eb4e3d;
$yellow: #ffd700;
$green: #2acb42;
$blue: #3880d1;
$grey: #f4f4f5;
$black: #444444;

$primaryColor: $blue;
$secondaryColor: $black;
