.doc-header {
  position: relative;
  background-image: linear-gradient(-135deg, #680f4b, #fe5264);
  padding: 0;
}
.doc-header-content {
  text-align: center;
  color: #fff;
  min-height: 320px;
  justify-content: center;
  align-items: center;
}
.doc-header-content h4 {
  font-weight: 100;
  width: 75%;
  margin: 15px auto;
}
.doc-header-content img {
  height: 125px;
  max-width: 100%;
}
.doc-header-content .button-wrapper {
  justify-content: center;
}
.doc-header h4 span {
  /* color: #ffc700; */
  font-weight: 700;
  /* display: flex; */
  /* justify-content: center; */
  /* text-shadow: 1px 1px 0px #262829; */
}
.doc-features {
  min-height: 120px;
  /* position: sticky; */
  /* top: 0; */
  /* z-index: 1; */
  display: flex;
  align-items: center;
  text-align: center;
  /* padding: 20px; */
}
.doc-features h6 {
  font-weight: 100;
  font-size: 0.875rem;
  margin: 0;
  color: #fff;
}
.doc-features img {
  height: 48px;
  margin-bottom: 0.875rem;
}
.doc-feature-item {
  padding: 25px 0;
  background: rgba(242, 242, 242, 0.05);
}
.doc-body {
  padding: 25px 0;
}
.component-section {
  padding: 20px 15px;
}
.grid-example {
  padding: 0 15px;
}
.grid-example div[class*="grid-"] {
  padding: 0;
  margin-bottom: 10px;
}
/* .grid-example div[class*="grid-"]:not(:first-child) {
  border-left: none;
} */
.grid-example div[class*="grid-"] p {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 0;
  min-height: 42px;
  background-color: #efefef;
  width: calc(100% - 10px);
  border-radius: 10px;
}
.doc-menu {
  position: sticky;
  top: 10px;
}
.doc-menu ul {
  padding: 20px 0;
}
.doc-menu ul li {
  cursor: pointer;
  list-style: none;
  font-size: 1.5em;
  color: rgba(68, 68, 68, 0.25);
  transition: 0.25s ease-in-out;
  text-decoration: none;
}
.doc-menu ul li.active {
  color: rgba(68, 68, 68, 1);
  transition: 0.25s ease-in-out;
}
.fm-tab:not(:first-child) {
  display: none;
}
.code-wrapper {
  margin-top: 15px;
}
.code-wrapper code {
  padding: 1.5rem;
  display: block;
}
.code-wrapper pre {
  background-color: #263238;
  border-radius: 5px;
  border: none !important;
}
.code-wrapper code {
  color: #eeffff;
}
.code-wrapper .tag {
  color: #ed7077;
}
.code-wrapper .attr-name,
.code-wrapper .punctuation.attr-equals,
.code-wrapper .keyword {
  color: #c792ea;
}
.code-wrapper .punctuation {
  color: #89ddff;
}
.code-wrapper .attr-value,
.code-wrapper .string {
  color: #c3e88d;
}
.code-wrapper .comment {
  color: #546e7a;
}
.code-wrapper .operator {
  color: #89ddff;
}
.code-wrapper .function {
  color: #82aaff;
}
@media (max-width: 576px) {
  .fm-tab {
    display: block !important;
  }
  .doc-menu {
    display: none;
  }
}
