$white: #fff;
$black: #000;
$headerSpan: 70px;

body {
  background: #fafafa;
}
header {
  height: $headerSpan;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1;
  display: flex;
  align-items: center;
  color: $white;
  &.opaque {
    background: $black;
    position: fixed;
  }
  &.transparent {
    position: absolute;
  }
  .logo {
    img {
      height: 32px;
      &:hover {
        opacity: 0.85;
        transition: cubic-bezier(0.455, 0.03, 0.515, 0.955);
      }
    }
  }
  .nav-menu {
    margin-left: auto;
    ul {
      margin-bottom: 0;
      display: inline-flex;
      li {
        list-style: none;
        display: inline-flex;
        align-items: center;
        padding: 0 15px;
        font-weight: 500;
        a {
          color: #f5f5f7;
          opacity: 0.8;
          text-decoration: none;
          &:hover {
            color: $white;
            opacity: 1;
          }
        }
        i {
          font-size: 1.5rem;
        }
      }
    }
  }
}

.doc-landing {
  position: relative;
  background: $black;
  padding: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  // min-height: 600px;
  min-height: calc(100vh - 118px);

  .doc-landing-content {
    text-align: center;
    color: $white;
    justify-content: center;

    h4 {
      font-weight: 100;
      width: 80%;
      margin: 15px auto;
    }
    img {
      max-width: 100%;
    }
    .button-wrapper {
      justify-content: center;
    }
  }
  h4 {
    span {
      font-weight: 700;
      padding: 0 8px;
    }
  }
}

.doc-features {
  text-align: center;
  background: #f4f4f5;
  h6 {
    font-size: 0.875rem;
    margin: 0;
  }
  img {
    height: 32px;
    margin-bottom: 0.875rem;
  }
  i {
    font-size: 32px;
    margin-bottom: 0.5rem;
  }
  .doc-feature-item {
    padding: 25px 0;
  }
  .grid-wrapper {
    border-radius: 20px;
  }
}

.category-tabs {
  text-align: center;
  background: #f4f4f5;
  position: sticky;
  top: $headerSpan;
  z-index: 1;
  h6 {
    font-size: 0.875rem;
    margin: 0;
  }
  img {
    height: 32px;
    margin-bottom: 0.875rem;
  }
  i {
    font-size: 32px;
    margin-bottom: 0.5rem;
  }
  .category-tab {
    cursor: pointer;
    position: relative;
    padding: 0;

    a {
      display: flex;
      justify-content: center;
      padding: 25px 0;
      color: $black;
      text-decoration: none;
    }
    &:hover {
      background-color: rgba(0, 0, 0, 0.05);
    }
    &.active {
      background-color: rgba(0, 0, 0, 0.05);
    }
    @keyframes grow {
      from {
        transform: scale(0);
        opacity: 0;
      }
      to {
        transform: scale(1);
        opacity: 1;
      }
    }
    $variations: "flexd-red" "#E4632B", "flexd-blue-dark" "#0B6FFB",
      "flexd-yellow" "#FFAB2E", "flexd-green" "#36CD77",
      "flexd-orange" "#E4632B", "flexd-blue-light" "#56B5F9";
    @each $class, $color in $variations {
      &.#{$class} {
        &.active {
          &:after {
            content: "";
            background: #{$color};
            position: absolute;
            right: 0;
            left: 0;
            bottom: 10px;
            height: 5px;
            width: 5px;
            border-radius: 50%;
            margin: 0 auto;
            animation: grow 0.25s forwards;
          }
        }
      }
    }
  }

  .grid-wrapper {
    border-radius: 20px;
  }
}

.component-section {
  padding: 15px 10px;
  .grid-example {
    padding: 0 10px;
    div[class*="grid-"] {
      padding: 0;
      margin-top: 10px;
    }
    div[class*="grid-"] p {
      display: flex;
      justify-content: center;
      align-items: center;
      margin-bottom: 0;
      min-height: 42px;
      background-color: #efefef;
      width: calc(100% - 10px);
      border-radius: 5px;
    }
  }
}

.header-offset {
  height: $headerSpan;
}

.doc-body {
  padding: 25px 0;
  .doc-menu {
    position: sticky;
    top: 170px;
    ul {
      padding: 10px 0;
      li {
        cursor: pointer;
        list-style: none;
        font-size: 1.5em;

        a {
          color: rgba(68, 68, 68, 0.25);
          transition: 0.25s ease-in-out;
          text-decoration: none;
          outline: none;
          &.active {
            color: rgba(68, 68, 68, 1);
            transition: 0.25s ease-in-out;
          }
        }
      }
    }
  }
}

.code-wrapper {
  figure {
    position: relative;
    margin: 0;
  }
  code {
    padding: 1.5rem;
    display: block;
    color: #eeffff;
  }
  pre {
    background-color: #282c34;
    border-radius: 4px;
    border: none !important;
    &:last-child {
      margin-bottom: 0;
    }
  }
  .tag {
    color: #ed7077;
  }
  .doctype {
    .doctype-tag {
      color: #ed7077;
    }
    .name {
      color: #c792ea;
      font-style: italic;
    }
  }
  .attr-name,
  .punctuation.attr-equals,
  .keyword {
    color: #c792ea;
    font-style: italic;
  }
  .punctuation {
    color: #89ddff;
  }
  .attr-value,
  .string {
    color: #c3e88d;
  }
  .comment {
    color: #546e7a;
  }
  .operator {
    color: #89ddff;
  }
  .function {
    color: #82aaff;
  }
}

.section-title {
  position: relative;
  margin-left: 12px;
  &:before {
    content: "";
    position: absolute;
    left: -12px;
    top: 5px;
    bottom: 15px;
    width: 2px;
  }
  &:after {
    content: "";
    position: absolute;
    left: -12px;
    top: 18px;
    bottom: 5px;
    width: 2px;
  }
}

$colors: "flexd-blue-dark" "#0b6ffb" "#084498",
  "flexd-yellow" "#ffab2e" "#905907", "flexd-orange" "#e4632b" "#713115",
  "flexd-green" "#36cd77" "#1b663b", "flexd-blue-light" "#56B5F9" "#2B5A7C";
@each $class, $before, $after in $colors {
  &.#{$class} {
    .section-title {
      &:before {
        background: #{$before};
      }
      &:after {
        background: #{$after};
      }
    }
  }
}

.color-picker-wrapper {
  input[type="text"] {
    position: absolute;
    z-index: -1;
  }
  .card-content {
    display: flex;
    align-items: center;
    flex-flow: row wrap;
    .color-grid {
      display: inline-flex;
      flex: 0 0 26.25px;
      max-width: 26.25px;
      height: 26.25px;
      color: #fff;
      border: 1px solid #ededed;
    }
  }
}

.flex-column {
  .flex-card {
    display: flex;
    flex-flow: row;
    align-items: center;
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
  }
}

.flex-container {
  border: 1px solid #333;
  width: 50px;
  height: 50px;
  padding: 4px;
  margin-right: 0.5rem;
  &.ex-flex {
    display: flex;
  }
  &.ex-inline-flex {
    display: inline-flex;
  }
  &.ex-row {
    display: flex;
    flex-direction: row;
  }
  &.ex-row-reverse {
    display: flex;
    flex-direction: row-reverse;
  }
  &.ex-column {
    display: flex;
    flex-direction: column;
  }
  &.ex-column-reverse {
    display: flex;
    flex-direction: column-reverse;
  }
  &.ex-nowrap {
    display: flex;
    flex-wrap: nowrap;
  }
  &.ex-wrap {
    display: flex;
    flex-wrap: wrap;
  }
  &.ex-wrap-reverse {
    display: flex;
    flex-wrap: wrap-reverse;
  }
  &.ex-flex-start {
    display: flex;
    justify-content: flex-start;
  }
  &.ex-flex-end {
    display: flex;
    justify-content: flex-end;
  }
  &.ex-center {
    display: flex;
    justify-content: center;
  }
  &.ex-space-around {
    display: flex;
    justify-content: space-around;
  }
  &.ex-space-between {
    display: flex;
    justify-content: space-between;
  }
  &.ex-space-evenly {
    display: flex;
    justify-content: space-evenly;
  }
  &.ex-align-flex-start {
    display: flex;
    align-items: flex-start;
  }
  &.ex-align-flex-end {
    display: flex;
    align-items: flex-end;
  }
  &.ex-align-center {
    display: flex;
    align-items: center;
  }
  &.ex-align-baseline {
    display: flex;
    align-items: baseline;
  }
  &.ex-align-stretch {
    display: flex;
    align-items: stretch;
  }
  &.ex-alignc-flex-start {
    display: flex;
    align-content: flex-start;
    flex-wrap: wrap;
  }
  &.ex-alignc-flex-end {
    display: flex;
    align-content: flex-end;
    flex-wrap: wrap;
  }
  &.ex-alignc-center {
    display: flex;
    align-content: center;
    flex-wrap: wrap;
  }
  &.ex-alignc-space-between {
    display: flex;
    align-content: space-between;
    flex-wrap: wrap;
  }
  &.ex-alignc-space-around {
    display: flex;
    align-content: space-around;
    flex-wrap: wrap;
  }
  &.ex-alignc-stretch {
    display: flex;
    align-content: stretch;
    flex-wrap: wrap;
  }
  &.ex-grow-1 {
    display: flex;
    .flex-item {
      flex-grow: 1;
    }
  }
  &.ex-grow-2 {
    display: flex;
    .flex-item {
      &:nth-child(1) {
        flex-grow: 1;
      }
      &:nth-child(2) {
        flex-grow: 2;
      }
      &:nth-child(3) {
        flex-grow: 3;
      }
    }
  }
  &.ex-basis {
    display: flex;
    .flex-item {
      &:nth-child(1) {
        flex-basis: 60%;
      }
      &:nth-child(2) {
        flex-basis: 40%;
      }
    }
  }
  &.ex-shrink {
    display: flex;
    .flex-item {
      &:nth-child(1) {
        flex-basis: 100%;
      }
      &:nth-child(2) {
        flex-basis: 100%;
        flex-shrink: 1;
      }
    }
  }
  &.ex-self {
    display: flex;
    align-items: flex-start;
    .flex-item {
      &:nth-child(3) {
        align-self: flex-end;
      }
    }
  }
  .flex-item {
    min-width: 8px;
    min-height: 8px;
    border: 1px solid #fff;
    &.one {
      background-color: #ffab2e;
    }
    &.two {
      background-color: #ffab2e;
    }
    &.three {
      background-color: #ffab2e;
    }
    &.four {
      background-color: #ffab2e;
    }
    &.five {
      background-color: #ffab2e;
    }
    &.six {
      background-color: #ffab2e;
    }
  }
}

@media (max-width: 576px) {
  .fm-tab {
    display: block !important;
  }
  .doc-menu {
    display: none;
  }
}
