body {
  background: #fafafa;
}
header {
  height: 70px;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1;
  display: flex;
  align-items: center;
  color: #fff;
  &.opaque {
    background: #000;
    position: fixed;
  }
  &.transparent {
    position: absolute;
  }
  .logo {
    img {
      height: 32px;
      &:hover {
        opacity: 0.85;
        transition: cubic-bezier(0.455, 0.03, 0.515, 0.955);
      }
    }
  }
  .nav-menu {
    margin-left: auto;
    ul {
      margin-bottom: 0;
      display: inline-flex;
      li {
        list-style: none;
        display: inline-flex;
        align-items: center;
        padding: 0 15px;
        i {
          font-size: 1.75rem;
        }
      }
    }
  }
}

.doc-landing {
  position: relative;
  // background-image: linear-gradient(45deg, #680f4b, #fe5264);
  background: #000;
  padding: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  min-height: 600px;

  .doc-landing-content {
    text-align: center;
    color: #fff;
    justify-content: center;

    h4 {
      font-weight: 100;
      width: 80%;
      margin: 15px auto;
    }
    img {
      max-width: 100%;
    }
    .button-wrapper {
      justify-content: center;
    }
  }
  h4 {
    span {
      font-weight: 700;
      padding: 0 8px;
    }
  }
}

.doc-features {
  text-align: center;
  background: #f4f4f5;
  h6 {
    font-size: 0.875rem;
    margin: 0;
  }
  img {
    height: 32px;
    margin-bottom: 0.875rem;
  }
  i {
    font-size: 32px;
    margin-bottom: 0.5rem;
  }
  .doc-feature-item {
    padding: 25px 0;
  }
  .grid-wrapper {
    border-radius: 20px;
  }
}

.component-section {
  padding: 15px 10px;
  .grid-example {
    padding: 0 10px;
    div[class*="grid-"] {
      padding: 0;
      margin-top: 10px;
    }
    div[class*="grid-"] p {
      display: flex;
      justify-content: center;
      align-items: center;
      margin-bottom: 0;
      min-height: 42px;
      background-color: #efefef;
      width: calc(100% - 10px);
      border-radius: 5px;
    }
  }
}

.header-offset {
  height: 70px;
}

.doc-body {
  padding: 25px 0;
  .doc-menu {
    position: sticky;
    top: 100px;
    ul {
      padding: 10px 0;
      li {
        cursor: pointer;
        list-style: none;
        font-size: 1.5em;
        color: rgba(68, 68, 68, 0.25);
        transition: 0.25s ease-in-out;
        text-decoration: none;
        &.active {
          color: rgba(68, 68, 68, 1);
          transition: 0.25s ease-in-out;
        }
      }
    }
  }
  .fm-tab:not(:first-child) {
    display: none;
  }
}

.code-wrapper {
  // margin-top: 15px;
  figure {
    position: relative;
    margin: 0;
  }
  code {
    padding: 1.5rem;
    display: block;
    color: #eeffff;
  }
  pre {
    background-color: #282c34;
    border-radius: 4px;
    border: none !important;
    &:last-child {
      margin-bottom: 0;
    }
  }
  .tag {
    color: #ed7077;
  }
  .attr-name,
  .punctuation.attr-equals,
  .keyword {
    color: #c792ea;
  }
  .punctuation {
    color: #89ddff;
  }
  .attr-value,
  .string {
    color: #c3e88d;
  }
  .comment {
    color: #546e7a;
  }
  .operator {
    color: #89ddff;
  }
  .function {
    color: #82aaff;
  }
}

.section-title {
  position: relative;
  margin-left: 12px;
  &:before {
    content: "";
    position: absolute;
    left: -12px;
    top: 5px;
    bottom: 15px;
    width: 2px;
  }
  &:after {
    content: "";
    position: absolute;
    left: -12px;
    top: 18px;
    bottom: 5px;
    width: 2px;
  }
  &.blue {
    &:before {
      background: #0b6ffb;
    }
    &:after {
      background: #084498;
    }
  }
  &.yellow {
    &:before {
      background: #ffab2e;
    }
    &:after {
      background: #905907;
    }
  }
  &.orange {
    &:before {
      background: #e4632b;
    }
    &:after {
      background: #713115;
    }
  }
  &.green {
    &:before {
      background: #36cd77;
    }
    &:after {
      background: #1b663b;
    }
  }
}

@media (max-width: 576px) {
  .fm-tab {
    display: block !important;
  }
  .doc-menu {
    display: none;
  }
}

/* Framework Styles */

/* End of Framework Styles */
