/* Font Family */
/* Color */
/* #222529 */
/* #ebebeb */
/* #2d3136 */
/* #f9f9fb */
/* #999999 */
/* #dedede */
/* #e9e9e9 */
/* #f5f5f6 */
/* #198af3 */
/* #0070c9 */
/* #198af3 */
/* #0070c9 */
/* #f5f5f6 */
/* #e9e9e9 */
/* #324155 */
/* Position */
/* Display */
/* Transition */
/* Fluid Layout */
/* Fixed Layout */
/* Base CSS */
/* CSS Document */
/* Font Face */
@font-face {
  font-family: 'Lato-Black';
  src: url("../fonts/Lato-Black.eot");
  /* IE9 Compat Modes */
  src: url("../assets/fonts/Lato-Black?#iefix") format("embedded-opentype"), url("../fonts/Lato-Black.woff2") format("woff2"), url("../fonts/Lato-Black.woff") format("woff"), url("../fonts/Lato-Black.ttf") format("truetype"), url("../fonts/Lato-Black.svg#Lato-Black") format("svg");
  /* Legacy iOS */ }

@font-face {
  font-family: 'Lato-BlackItalic';
  src: url("../fonts/Lato-BlackItalic.eot");
  /* IE9 Compat Modes */
  src: url("../fonts/Lato-BlackItalic.eot?#iefix") format("embedded-opentype"), url("../fonts/Lato-BlackItalic.woff2") format("woff2"), url("../fonts/Lato-BlackItalic.woff") format("woff"), url("../fonts/Lato-BlackItalic.ttf") format("truetype"), url("../fonts/Lato-BlackItalic.svg#Lato-BlackItalic") format("svg");
  /* Legacy iOS */ }

@font-face {
  font-family: 'Lato-Bold';
  src: url("../fonts/Lato-Bold.eot");
  /* IE9 Compat Modes */
  src: url("../fonts/Lato-Bold.eot?#iefix") format("embedded-opentype"), url("../fonts/Lato-Bold.woff2") format("woff2"), url("../fonts/Lato-Bold.woff") format("woff"), url("../fonts/Lato-Bold.ttf") format("truetype"), url("../fonts/Lato-Bold.svg#Lato-Bold") format("svg");
  /* Legacy iOS */ }

@font-face {
  font-family: 'Lato-BoldItalic';
  src: url("../fonts/Lato-BoldItalic.eot");
  /* IE9 Compat Modes */
  src: url("../fonts/Lato-BoldItalic.eot?#iefix") format("embedded-opentype"), url("../fonts/Lato-BoldItalic.woff2") format("woff2"), url("../fonts/Lato-BoldItalic.woff") format("woff"), url("../fonts/Lato-BoldItalic.ttf") format("truetype"), url("../fonts/Lato-BoldItalic.svg#Lato-BoldItalic") format("svg");
  /* Legacy iOS */ }

@font-face {
  font-family: 'Lato-Hairline';
  src: url("../fonts/Lato-Hairline.eot");
  /* IE9 Compat Modes */
  src: url("../fonts/Lato-Hairline.eot?#iefix") format("embedded-opentype"), url("../fonts/Lato-Hairline.woff2") format("woff2"), url("../fonts/Lato-Hairline.woff") format("woff"), url("../fonts/Lato-Hairline.ttf") format("truetype"), url("../fonts/Lato-Hairline.svg#Lato-Hairline") format("svg");
  /* Legacy iOS */ }

@font-face {
  font-family: 'Lato-HairlineItalic';
  src: url("../fonts/Lato-HairlineItalic.eot");
  /* IE9 Compat Modes */
  src: url("../fonts/Lato-HairlineItalic.eot?#iefix") format("embedded-opentype"), url("../fonts/Lato-HairlineItalic.woff2") format("woff2"), url("../fonts/Lato-HairlineItalic.woff") format("woff"), url("../fonts/Lato-HairlineItalic.ttf") format("truetype"), url("../fonts/Lato-HairlineItalic.svg#Lato-HairlineItalic") format("svg");
  /* Legacy iOS */ }

@font-face {
  font-family: 'Lato-Italic';
  src: url("../fonts/Lato-Italic.eot");
  /* IE9 Compat Modes */
  src: url("../fonts/Lato-Italic.eot?#iefix") format("embedded-opentype"), url("../fonts/Lato-Italic.woff2") format("woff2"), url("../fonts/Lato-Italic.woff") format("woff"), url("../fonts/Lato-Italic.ttf") format("truetype"), url("../fonts/Lato-Italic.svg#Lato-Italic") format("svg");
  /* Legacy iOS */ }

@font-face {
  font-family: 'Lato-Light';
  src: url("../fonts/Lato-Light.eot");
  /* IE9 Compat Modes */
  src: url("../fonts/Lato-Light.eot?#iefix") format("embedded-opentype"), url("../fonts/Lato-Light.woff2") format("woff2"), url("../fonts/Lato-Light.woff") format("woff"), url("../fonts/Lato-Light.ttf") format("truetype"), url("../fonts/Lato-Light.svg#Lato-Light") format("svg");
  /* Legacy iOS */ }

@font-face {
  font-family: 'Lato-LightItalic';
  src: url("../fonts/Lato-LightItalic.eot");
  /* IE9 Compat Modes */
  src: url("../fonts/Lato-LightItalic.eot?#iefix") format("embedded-opentype"), url("../fonts/Lato-LightItalic.woff2") format("woff2"), url("../fonts/Lato-LightItalic.woff") format("woff"), url("../fonts/Lato-LightItalic.ttf") format("truetype"), url("../fonts/Lato-LightItalic.svg#Lato-LightItalic") format("svg");
  /* Legacy iOS */ }

@font-face {
  font-family: 'Lato-Regular';
  src: url("../fonts/Lato-Regular.eot");
  /* IE9 Compat Modes */
  src: url("../fonts/Lato-Regular.eot?#iefix") format("embedded-opentype"), url("../fonts/Lato-Regular.woff2") format("woff2"), url("../fonts/Lato-Regular.woff") format("woff"), url("../fonts/Lato-Regular.ttf") format("truetype"), url("../fonts/Lato-Regular.svg#Lato-Regular") format("svg");
  /* Legacy iOS */ }

/* Reset */
/**
* 1. Change the default font family in all browsers (opinionated).
* 2. Correct the line height in all browsers.
* 3. Prevent adjustments of font size after orientation changes in
*    IE on Windows Phone and in iOS.
*/
/* Document */
html {
  font-family: "Lato-Regular", sans-serif;
  /* 1 */
  line-height: 1.15;
  /* 2 */
  -ms-text-size-adjust: 100%;
  /* 3 */
  -webkit-text-size-adjust: 100%;
  /* 3 */ }

/* Sections */
/**
* Remove the margin in all browsers (opinionated).
*/
body {
  font-size: 14px;
  margin: 0;
  color: rgba(0, 0, 0, 0.75);
  background: #ebebeb;
  font-weight: 400;
  line-height: 1.5em;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }

/**
* Add the correct display in IE 9-.
*/
* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }
  *:before, *:after {
    -webkit-box-sizing: border-box;
    box-sizing: border-box; }

article,
aside,
footer,
header,
nav,
section {
  display: block; }

/**
* Correct the font size and margin on `h1` elements within `section` and
* `article` contexts in Chrome, Firefox, and Safari.
*/
h1 {
  font-size: 2em;
  margin: 0.67em 0; }

/* Grouping content */
/**
* Add the correct display in IE 9-.
* 1. Add the correct display in IE.
*/
figcaption,
figure,
main {
  /* 1 */
  display: block; }

/**
* Add the correct margin in IE 8.
*/
figure {
  margin: 1em 40px; }

/**
* 1. Add the correct box sizing in Firefox.
* 2. Show the overflow in Edge and IE.
*/
hr {
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
  /* 1 */
  height: 0;
  /* 1 */
  overflow: visible;
  /* 2 */ }

/**
* 1. Correct the inheritance and scaling of font size in all browsers.
* 2. Correct the odd `em` font sizing in all browsers.
*/
pre {
  font-family: monospace, monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */ }

/* Text-level semantics */
/**
* 1. Remove the gray background on active links in IE 10.
* 2. Remove gaps in links underline in iOS 8+ and Safari 8+.
*/
a {
  background-color: transparent;
  text-decoration: none;
  color: #198af3;
  outline: 0;
  -webkit-text-decoration-skip: objects; }
  a:active, a:hover {
    outline-width: 0;
    outline: 0; }

/**
* Remove the outline on focused links when they are also active or hovered
* in all browsers (opinionated).
*/
/**
* 1. Remove the bottom border in Firefox 39-.
* 2. Add the correct text decoration in Chrome, Edge, IE, Opera, and Safari.
*/
abbr[title] {
  border-bottom: none;
  /* 1 */
  text-decoration: underline;
  /* 2 */
  -webkit-text-decoration: underline dotted;
  text-decoration: underline dotted;
  /* 2 */ }

/**
* Prevent the duplicate application of `bolder` by the next rule in Safari 6.
*/
b,
strong {
  font-weight: inherit; }

/**
* Add the correct font weight in Chrome, Edge, and Safari.
*/
b,
strong {
  font-weight: bolder; }

/**
* 1. Correct the inheritance and scaling of font size in all browsers.
* 2. Correct the odd `em` font sizing in all browsers.
*/
code,
kbd,
samp {
  font-family: monospace, monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */ }

/**
* Add the correct font style in Android 4.3-.
*/
dfn {
  font-style: italic; }

/**
* Add the correct background and color in IE 9-.
*/
mark {
  background-color: #ff0;
  color: #000; }

/**
* Add the correct font size in all browsers.
*/
small {
  font-size: 80%; }

/**
* Prevent `sub` and `sup` elements from affecting the line height in
* all browsers.
*/
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline; }

sub {
  bottom: -0.25em; }

sup {
  top: -0.5em; }

/* Embedded content
========================================================================== */
/**
* Add the correct display in IE 9-.
*/
audio,
video {
  display: inline-block; }

/**
* Add the correct display in iOS 4-7.
*/
audio:not([controls]) {
  display: none;
  height: 0; }

/**
* Remove the border on images inside links in IE 10-.
*/
img {
  border-style: none; }

/**
* Hide the overflow in IE.
*/
svg:not(:root) {
  overflow: hidden; }

/* Forms */
/**
* 1. Change the font styles in all browsers (opinionated).
* 2. Remove the margin in Firefox and Safari.
*/
button,
input,
optgroup,
select,
textarea {
  font-family: sans-serif;
  /* 1 */
  font-size: 100%;
  /* 1 */
  line-height: 1.15;
  /* 1 */
  margin: 0;
  /* 2 */ }

/**
* Show the overflow in IE.
* 1. Show the overflow in Edge.
*/
button,
input {
  /* 1 */
  overflow: visible; }

/**
* Remove the inheritance of text transform in Edge, Firefox, and IE.
* 1. Remove the inheritance of text transform in Firefox.
*/
button,
select {
  /* 1 */
  text-transform: none; }

/**
* 1. Prevent a WebKit bug where (2) destroys native `audio` and `video`
*    controls in Android 4.
* 2. Correct the inability to style clickable types in iOS and Safari.
*/
button,
html [type="button"],
[type="reset"],
[type="submit"] {
  -webkit-appearance: button;
  -moz-appearance: button;
  /* 2 */ }

/**
* Remove the inner border and padding in Firefox.
*/
button::-moz-focus-inner,
[type="button"]::-moz-focus-inner,
[type="reset"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner {
  border-style: none;
  padding: 0; }

/**
* Restore the focus styles unset by the previous rule.
*/
button:-moz-focusring,
[type="button"]:-moz-focusring,
[type="reset"]:-moz-focusring,
[type="submit"]:-moz-focusring {
  outline: 1px dotted ButtonText; }

/**
* Change the border, margin, and padding in all browsers (opinionated).
*/
fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em; }

/**
* 1. Correct the text wrapping in Edge and IE.
* 2. Correct the color inheritance from `fieldset` elements in IE.
* 3. Remove the padding so developers are not caught out when they zero out
*    `fieldset` elements in all browsers.
*/
legend {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  /* 1 */
  color: inherit;
  /* 2 */
  display: table;
  /* 1 */
  max-width: 100%;
  /* 1 */
  padding: 0;
  /* 3 */
  white-space: normal;
  /* 1 */ }

/**
* 1. Add the correct display in IE 9-.
* 2. Add the correct vertical alignment in Chrome, Firefox, and Opera.
*/
progress {
  display: inline-block;
  /* 1 */
  vertical-align: baseline;
  /* 2 */ }

/**
* Remove the default vertical scrollbar in IE.
*/
textarea {
  overflow: auto; }

p {
  word-wrap: break-word; }

/**
* 1. Add the correct box sizing in IE 10-.
* 2. Remove the padding in IE 10-.
*/
[type="checkbox"],
[type="radio"] {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  /* 1 */
  padding: 0;
  /* 2 */
  margin-right: 5px; }

/**
* Correct the cursor style of increment and decrement buttons in Chrome.
*/
[type="number"]::-webkit-inner-spin-button, [type="number"]::-webkit-outer-spin-button {
  height: auto; }

/**
* 1. Correct the odd appearance in Chrome and Safari.
* 2. Correct the outline style in Safari.
*/
[type="search"] {
  -webkit-appearance: textfield;
  -moz-appearance: button;
  /* 1 */
  outline-offset: -2px;
  /* 2 */ }
  [type="search"]::-webkit-search-cancel-button, [type="search"]::-webkit-search-decoration {
    -webkit-appearance: none;
    -moz-appearance: none; }

/**
* Remove the inner padding and cancel buttons in Chrome and Safari on macOS.
*/
/**
* 1. Correct the inability to style clickable types in iOS and Safari.
* 2. Change font properties to `inherit` in Safari.
*/
::-webkit-file-upload-button {
  -webkit-appearance: button;
  -moz-appearance: button;
  /* 1 */
  font: inherit;
  /* 2 */ }

/* Interactive */
/* 1 */
menu {
  display: block; }

/*
* Add the correct display in all browsers.
*/
summary {
  display: list-item; }

/* Scripting */
/**
* Add the correct display in IE 9-.
*/
canvas {
  display: inline-block; }

/**
* Add the correct display in IE.
*/
template,
[hidden] {
  display: none; }

/* Hidden */
/**
* Add the correct display in IE 10-.
*/
/* Browser Specific */
/* Firefox */
/* Text Align, Image, List */
.text-left {
  text-align: left; }

.text-right {
  text-align: right; }

.text-center {
  text-align: center; }

.text-justify {
  text-align: justify; }

.text-nowrap {
  white-space: nowrap; }

.text-lowercase {
  text-transform: lowercase; }

.text-uppercase {
  text-transform: uppercase; }

.text-capitalize {
  text-transform: capitalize; }

.center-align {
  margin: 0 auto; }

.float-right {
  float: right; }

.float-left {
  float: left; }

.white {
  color: white; }

.grey {
  color: rgba(0, 0, 0, 0.5); }

.hidden {
  visibility: hidden; }

.bold {
  font-family: "Lato-Bold", sans-serif; }

img {
  vertical-align: middle; }

svg {
  max-width: 100%; }

.img-responsive {
  display: block;
  max-width: 100%;
  height: auto; }

ul {
  padding-left: 0;
  margin: 0; }
  ul li {
    list-style: none; }
    ul li a {
      text-decoration: none; }

ol {
  padding-left: 15px;
  margin: 0; }
  ol li a {
    text-decoration: none; }

/* Layout */
.layout:before, .layout:after {
  display: table;
  content: " "; }

.layout-fluid:before, .layout-fluid:after {
  display: table;
  content: " "; }

.grid-group:before, .grid-group:after {
  display: table;
  content: " "; }

.layout-fluid:after,
.layout:after,
.grid-group:after,
.clear {
  clear: both; }

.layout {
  width: 1170px;
  margin-right: auto;
  margin-left: auto;
  -webkit-transition: 0.25s linear;
  transition: 0.25s linear; }

.layout-fluid {
  width: 100%;
  margin-right: auto;
  margin-left: auto; }

.grid-group {
  margin-right: -15px;
  margin-left: -15px; }

.grid-small-1,
.grid-fluid-1,
.grid-small-2,
.grid-fluid-2,
.grid-small-3,
.grid-fluid-3,
.grid-small-4,
.grid-fluid-4,
.grid-small-5,
.grid-fluid-5,
.grid-small-6,
.grid-fluid-6,
.grid-small-7,
.grid-small-8,
.grid-fluid-8,
.grid-small-9,
.grid-fluid-9,
.grid-small-10,
.grid-fluid-10,
.grid-small-11,
.grid-fluid-11,
.grid-small-12,
.grid-fluid-12 {
  position: relative;
  min-height: 1px;
  padding-right: 15px;
  padding-left: 15px; }

.grid-small-1,
.grid-fluid-1,
.grid-small-2,
.grid-fluid-2,
.grid-small-3,
.grid-fluid-3,
.grid-small-4,
.grid-fluid-4,
.grid-small-5,
.grid-fluid-5,
.grid-small-6,
.grid-fluid-6,
.grid-small-7,
.grid-fluid-7,
.grid-small-8,
.grid-fluid-8,
.grid-small-9,
.grid-fluid-9,
.grid-small-10,
.grid-fluid-10,
.grid-small-11,
.grid-fluid-11,
.grid-small-12,
.grid-fluid-12 {
  float: left; }

.grid-small-1 {
  width: 97.5px; }

.grid-small-2 {
  width: 195px; }

.grid-small-3 {
  width: 292.5px; }

.grid-small-4 {
  width: 390px; }

.grid-small-5 {
  width: 487.5px; }

.grid-small-6 {
  width: 585px; }

.grid-small-7 {
  width: 682.5px; }

.grid-small-8 {
  width: 780px; }

.grid-small-9 {
  width: 877.5px; }

.grid-small-10 {
  width: 975px; }

.grid-small-11 {
  width: 1072.5px; }

.grid-small-12 {
  width: 1170px; }

.grid-small-offset-1 {
  margin-left: 97.5px; }

.grid-small-offset-2 {
  margin-left: 195px; }

.grid-small-offset-3 {
  margin-left: 292.5px; }

.grid-small-offset-4 {
  margin-left: 390px; }

.grid-small-offset-5 {
  margin-left: 487.5px; }

.grid-small-offset-6 {
  margin-left: 585px; }

.grid-small-offset-7 {
  margin-left: 682.5px; }

.grid-small-offset-8 {
  margin-left: 780px; }

.grid-small-offset-9 {
  margin-left: 877.5px; }

.grid-small-offset-10 {
  margin-left: 975px; }

.grid-small-offset-11 {
  margin-left: 1072.5px; }

.grid-small-offset-12 {
  margin-left: 1170px; }

.grid-small-pull-0 {
  right: auto; }

.grid-small-pull-1 {
  right: 97.5px; }

.grid-small-pull-2 {
  right: 195px; }

.grid-small-pull-3 {
  right: 292.5px; }

.grid-small-pull-4 {
  right: 390px; }

.grid-small-pull-5 {
  right: 487.5px; }

.grid-small-pull-6 {
  right: 585px; }

.grid-small-pull-7 {
  right: 682.5px; }

.grid-small-pull-8 {
  right: 780px; }

.grid-small-pull-9 {
  right: 877.5px; }

.grid-small-pull-10 {
  right: 975px; }

.grid-small-pull-11 {
  right: 1072.5px; }

.grid-small-pull-12 {
  right: 1170px; }

.grid-small-push-0 {
  left: auto; }

.grid-small-push-1 {
  left: 97.5px; }

.grid-small-push-2 {
  left: 195px; }

.grid-small-push-3 {
  left: 292.5px; }

.grid-small-push-4 {
  left: 390px; }

.grid-small-push-5 {
  left: 487.5px; }

.grid-small-push-6 {
  left: 585px; }

.grid-small-push-7 {
  left: 682.5px; }

.grid-small-push-8 {
  left: 780px; }

.grid-small-push-9 {
  left: 877.5px; }

.grid-small-push-10 {
  left: 975px; }

.grid-small-push-11 {
  left: 1072.5px; }

.grid-small-push-12 {
  left: 1170px; }

.grid-fluid-1 {
  width: 8.33%; }

.grid-fluid-2 {
  width: 16.66%; }

.grid-fluid-3 {
  width: 25%; }

.grid-fluid-4 {
  width: 33.33%; }

.grid-fluid-5 {
  width: 41.66%; }

.grid-fluid-6 {
  width: 50%; }

.grid-fluid-7 {
  width: 58.33%; }

.grid-fluid-8 {
  width: 66.66%; }

.grid-fluid-9 {
  width: 75%; }

.grid-fluid-10 {
  width: 83.33%; }

.grid-fluid-11 {
  width: 91.66%; }

.grid-fluid-12 {
  width: 100%; }

.grid-fluid-offset-1 {
  margin-left: 8.33%; }

.grid-fluid-offset-2 {
  margin-left: 16.66%; }

.grid-fluid-offset-3 {
  margin-left: 25%; }

.grid-fluid-offset-4 {
  margin-left: 33.33%; }

.grid-fluid-offset-5 {
  margin-left: 41.66%; }

.grid-fluid-offset-6 {
  margin-left: 50%; }

.grid-fluid-offset-7 {
  margin-left: 58.33%; }

.grid-fluid-offset-8 {
  margin-left: 66.66%; }

.grid-fluid-offset-9 {
  margin-left: 75%; }

.grid-fluid-offset-10 {
  margin-left: 83.33%; }

.grid-fluid-offset-11 {
  margin-left: 91.66%; }

.grid-fluid-offset-12 {
  margin-left: 100%; }

.grid-fluid-pull-0 {
  right: auto; }

.grid-fluid-pull-1 {
  right: 8.33%; }

.grid-fluid-pull-2 {
  right: 16.66%; }

.grid-fluid-pull-3 {
  right: 25%; }

.grid-fluid-pull-4 {
  right: 33.33%; }

.grid-fluid-pull-5 {
  right: 41.66%; }

.grid-fluid-pull-6 {
  right: 50%; }

.grid-fluid-pull-7 {
  right: 58.33%; }

.grid-fluid-pull-8 {
  right: 66.66%; }

.grid-fluid-pull-9 {
  right: 75%; }

.grid-fluid-pull-10 {
  right: 83.33%; }

.grid-fluid-pull-11 {
  right: 91.66%; }

.grid-fluid-pull-12 {
  right: 100%; }

.grid-fluid-push-0 {
  left: auto; }

.grid-fluid-push-1 {
  left: 8.33%; }

.grid-fluid-push-2 {
  left: 16.66%; }

.grid-fluid-push-3 {
  left: 25%; }

.grid-fluid-push-4 {
  left: 33.33%; }

.grid-fluid-push-5 {
  left: 41.66%; }

.grid-fluid-push-6 {
  left: 50%; }

.grid-fluid-push-7 {
  left: 58.33%; }

.grid-fluid-push-8 {
  left: 66.66%; }

.grid-fluid-push-9 {
  left: 75%; }

.grid-fluid-push-10 {
  left: 83.33%; }

.grid-fluid-push-11 {
  left: 91.66%; }

.grid-fluid-push-12 {
  left: 100%; }

.left-col {
  padding-top: 25px;
  padding-bottom: 25px;
  margin-top: 75px;
  opacity: 0.25;
  position: absolute;
  left: 0;
  height: 100%; }

.main-col {
  padding-top: 25px;
  padding-bottom: 25px;
  margin-top: 75px;
  opacity: 0.25; }

.right-col {
  padding-top: 25px;
  padding-bottom: 25px;
  margin-top: 75px;
  opacity: 0.25;
  position: absolute;
  right: 0;
  height: 100%; }

/* Margin */
.mTop-5 {
  margin-top: 5px; }

.mTop-10 {
  margin-top: 10px; }

.mTop-15 {
  margin-top: 15px; }

.mTop-20 {
  margin-top: 20px; }

.mTop-25 {
  margin-top: 25px; }

.mTop-30 {
  margin-top: 30px; }

.mTop-35 {
  margin-top: 35px; }

.mTop-40 {
  margin-top: 40px; }

.mTop-45 {
  margin-top: 45px; }

.mTop-50 {
  margin-top: 50px; }

.mTop-55 {
  margin-top: 55px; }

.mTop-60 {
  margin-top: 60px; }

/* Padding */
.padZero {
  padding: 0; }

.padRightZero {
  padding-right: 0; }

.padLeftZero {
  padding-left: 0; }

/* Horizontal & Vertical Scrollbars */
.hscroll,
.vscroll {
  overflow: overlay; }

.hscroll:hover::-webkit-scrollbar {
  height: 5px; }

.vscroll:hover::-webkit-scrollbar {
  width: 5px; }

.hscroll::-webkit-scrollbar-thumb,
.vscroll::-webkit-scrollbar-thumb {
  background-color: #999999; }

/* Header */
.header {
  background: #222529;
  border-bottom: 1px solid rgba(0, 0, 0, 0.5);
  -webkit-box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.05), 0 2px 5px rgba(0, 0, 0, 0.15);
  box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.05), 0 2px 5px rgba(0, 0, 0, 0.15);
  z-index: 1001;
  position: absolute;
  min-height: 55px; }

.header-offset {
  height: 55px; }

/* Tab */
.tab ul {
  width: 100%;
  float: left; }
  .tab ul.th-1 {
    border-bottom: 1px solid #dedede; }
    .tab ul.th-1 li {
      cursor: pointer;
      position: relative;
      font-family: "Lato-Bold", sans-serif;
      color: #999999;
      float: left;
      padding: 15px;
      -webkit-transition: 0.25s linear;
      transition: 0.25s linear; }
      .tab ul.th-1 li:hover {
        background: #f5f5f6;
        color: rgba(0, 0, 0, 0.5);
        -webkit-transition: 0.25s linear;
        transition: 0.25s linear; }
      .tab ul.th-1 li.active {
        color: rgba(0, 0, 0, 0.75); }
        .tab ul.th-1 li.active:after {
          content: "";
          position: absolute;
          left: 0;
          right: 0;
          animation-name: tabBorder;
          animation-duration: 0.25s;
          bottom: -1px;
          height: 3px;
          background: #222529; }
  .tab ul.th-2 li {
    cursor: pointer;
    position: relative;
    font-family: "Lato-Bold", sans-serif;
    color: #999999;
    float: left;
    padding: 15px;
    background: white;
    border-bottom: 1px solid #dedede;
    -webkit-transition: 0.25s linear;
    transition: 0.25s linear; }
    .tab ul.th-2 li:hover {
      color: rgba(0, 0, 0, 0.5);
      background: #f5f5f6;
      -webkit-transition: 0.25s linear;
      transition: 0.25s linear; }
    .tab ul.th-2 li.active {
      color: rgba(0, 0, 0, 0.75);
      background: #e9e9e9;
      border-bottom: 1px solid transparent; }
      .tab ul.th-2 li.active:before {
        content: "";
        position: absolute;
        left: -1px;
        bottom: 0;
        height: 100%;
        background: #dedede;
        width: 1px; }
      .tab ul.th-2 li.active:after {
        content: "";
        position: absolute;
        right: -1px;
        bottom: 0;
        height: 100%;
        background: #dedede;
        width: 1px;
        z-index: 1; }

@keyframes tabBorder {
  0% {
    left: 50%;
    right: 50%;
    background: #2d3136; }
  100% {
    left: 0;
    right: 0;
    background: #222529; } }

/* Table */
table {
  border-spacing: 0.5rem;
  border-collapse: collapse; }

td {
  vertical-align: top; }

.table {
  width: 100%;
  table-layout: fixed; }
  .table thead {
    background: #f5f5f6; }
  .table tr td {
    padding: 10px;
    word-wrap: break-word; }
  .table tr th {
    text-align: left;
    padding: 10px;
    word-wrap: break-word; }

/* Cards */
.card {
  width: 100%;
  float: left;
  background: white;
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.05);
  border: 1px solid #dedede;
  border-radius: 2px; }

/* Headers */
h1 {
  font-size: 48px;
  font-weight: normal;
  margin: 0;
  line-height: 1.25em; }

h2 {
  font-size: 32px;
  font-weight: normal;
  margin: 0;
  line-height: 1.25em; }

h3 {
  font-size: 24px;
  font-weight: normal;
  margin: 0;
  line-height: 1.25em; }

h4 {
  font-size: 20px;
  font-weight: normal;
  margin: 0; }

h5 {
  font-size: 16px;
  font-weight: normal;
  margin: 0; }

h6 {
  font-size: 14px;
  font-weight: normal;
  margin: 0; }

/* Input elements */
.input-elements textarea {
  width: 100%;
  border: none;
  outline: none;
  resize: none;
  overflow: hidden;
  padding: 20px;
  padding-right: 40px;
  min-height: 50px;
  font-family: 'Lato', sans-serif;
  font-size: 14px;
  color: rgba(0, 0, 0, 0.75);
  border-radius: 2px; }

.form {
  margin-bottom: 15px;
  position: relative; }
  .form input[type="text"], .form input[type="password"], .form input[type="email"], .form input[type="number"] {
    width: 100%;
    border: 1px solid #dedede;
    padding: 10px;
    font-family: 'Lato', sans-serif;
    font-size: 14px;
    color: rgba(0, 0, 0, 0.75);
    -webkit-transition: 0.25s linear;
    transition: 0.25s linear;
    border-radius: 2px;
    padding-right: 30px; }
  .form input[type="text"]:focus, .form input[type="password"]:focus, .form input[type="email"]:focus, .form input[type="number"]:focus {
    -webkit-transition: 0.25s linear;
    transition: 0.25s linear;
    border: 1px solid #999999;
    outline: none; }
  .form input[type="time"] {
    width: 100%;
    border: 1px solid #dedede;
    padding: 5px;
    font-family: 'Lato', sans-serif;
    font-size: 14px;
    color: rgba(0, 0, 0, 0.75);
    -webkit-transition: 0.25s linear;
    transition: 0.25s linear; }
    .form input[type="time"]:focus {
      -webkit-transition: 0.25s linear;
      transition: 0.25s linear;
      border: 1px solid #999999;
      outline: none; }
  .form textarea {
    width: 100%;
    border: 1px solid #dedede;
    outline: none;
    resize: vertical;
    overflow: overlay;
    padding: 10px;
    padding-right: 30px;
    min-height: 50px;
    font-family: 'Lato', sans-serif;
    font-size: 14px;
    color: rgba(0, 0, 0, 0.75);
    border-radius: 2px; }
    .form textarea:focus {
      -webkit-transition: 0.25s linear;
      transition: 0.25s linear;
      border: 1px solid #999999; }
  .form input[type="search"] {
    border: 1px solid #dedede;
    padding-left: 15px;
    padding-right: 30px !important;
    padding: 5px;
    color: rgba(0, 0, 0, 0.75);
    background: white;
    border-radius: 2px;
    width: 100%;
    outline: none;
    font-family: 'Lato', sans-serif;
    font-size: 14px;
    -webkit-transition: 0.25s linear;
    transition: 0.25s linear; }

.form input::-webkit-input-placeholder {
  color: #999999; }

.form input:-moz-placeholder {
  color: #999999; }

.form input::-moz-placeholder {
  color: #999999; }

.form input:-ms-input-placeholder {
  color: #999999; }

.form textarea::-webkit-input-placeholder {
  color: #999999; }

.form textarea:-moz-placeholder {
  color: #999999; }

.form textarea::-moz-placeholder {
  color: #999999; }

.form textarea:-ms-input-placeholder {
  color: #999999; }

.form label:first-child {
  padding-bottom: 5px;
  display: block;
  font-family: "Lato-Bold", sans-serif; }

.form label.mandatory::after {
  content: "*";
  color: #e2676a;
  font-size: 20px;
  position: absolute; }

.info p {
  border-radius: 2px;
  font-size: 12px;
  font-style: italic;
  color: #d96900;
  background: #fefaec;
  padding: 6px 12px;
  margin: 10px 0; }
  .info p i {
    margin-right: 5px; }

input[type='text']:disabled {
  background: #f5f5f6; }

.input-elements input[type="text"], .input-elements input[type="password"], .input-elements input[type="email"], .input-elements input[type="number"] {
  width: 100%;
  border: 1px solid #dedede;
  padding: 10px;
  outline: none;
  margin-top: 10px;
  font-family: "Lato-Regular", sans-serif;
  font-size: 14px;
  color: rgba(0, 0, 0, 0.75);
  -webkit-transition: 0.25s linear;
  transition: 0.25s linear;
  border-radius: 2px; }

.input-elements input[type="text"]:focus, .input-elements input[type="password"]:focus, .input-elements input[type="email"]:focus, .input-elements input[type="number"]:focus {
  -webkit-transition: 0.25s linear;
  transition: 0.25s linear;
  border: 1px solid #999999; }

.search-bar {
  position: relative; }
  .search-bar span {
    position: absolute;
    right: 0; }
  .search-bar input[type="search"] {
    width: 100%;
    border-radius: 2px;
    border: 1px solid transparent;
    padding: 8px;
    outline: none;
    background: #2d3136;
    color: white;
    font-family: 'Lato', sans-serif;
    font-size: 14px;
    -webkit-transition: 0.25s linear;
    transition: 0.25s linear;
    -webkit-appearance: none;
    -moz-appearance: button; }

input[type="search"]::-webkit-search-decoration, input[type="search"]::-webkit-search-cancel-button, input[type="search"]::-webkit-search-results-button, input[type="search"]::-webkit-search-results-decoration {
  display: none; }

.input-elements button {
  padding: 10px;
  color: white;
  border: none;
  border-radius: 5px;
  background: #198af3; }

.input-elements-post input[type="text"] {
  width: 100%;
  border: none;
  padding: 12px;
  outline: none;
  font-family: 'Lato', sans-serif;
  font-size: 14px;
  color: rgba(0, 0, 0, 0.75);
  border-radius: 2px; }

/* Error Message */
.error-message.float {
  position: absolute;
  top: 20px;
  left: 50px;
  right: 50px;
  z-index: 4; }

.error-message.static {
  position: relative;
  float: left;
  width: 100%;
  z-index: 4;
  margin: 10px 0; }

.error-message.sticky {
  position: -webkit-sticky;
  position: sticky;
  bottom: 0;
  z-index: 4;
  width: 100%;
  float: left; }
  .error-message.sticky > div {
    border: 1px solid #e2676a;
    border-right: none;
    border-left: none;
    -webkit-box-shadow: none;
    box-shadow: none;
    border-radius: 0; }

.error-message > div {
  background: #ffeaea;
  padding: 10px 50px;
  border: 1px solid #e2676a;
  border-radius: 5px;
  color: #e2676a;
  -webkit-box-shadow: 0 0px 20px 0px rgba(0, 0, 0, 0.1);
  box-shadow: 0 0px 20px 0px rgba(0, 0, 0, 0.1); }

.error-message span {
  position: absolute;
  top: 1px;
  bottom: 1px;
  width: 40px;
  text-align: center;
  padding: 12px;
  color: #e2676a; }
  .error-message span:first-child {
    left: 1px;
    background: rgba(255, 255, 255, 0.35);
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px; }
  .error-message span:last-child {
    cursor: pointer;
    right: 16px; }
    .error-message span:last-child i:hover {
      font-weight: 700; }

.error-message ul {
  padding-left: 20px; }
  .error-message ul li {
    list-style: disc; }

/* MB - Button */
.button-1 {
  position: relative;
  cursor: pointer;
  font-family: "Lato-Bold", sans-serif;
  display: inline-block;
  text-decoration: none;
  color: white;
  padding: 4px 16px;
  background: #198af3;
  border: 1px solid #198af3;
  border-radius: 2px;
  font-size: 13px;
  white-space: nowrap;
  -webkit-transition: 0.25s linear;
  transition: 0.25s linear; }

.button-2 {
  position: relative;
  cursor: pointer;
  display: inline-block;
  padding: 4px 16px;
  color: white;
  border: 1px solid white;
  padding-left: 15px;
  padding-right: 15px;
  font-size: 13px;
  border-radius: 2px;
  white-space: nowrap;
  -webkit-transition: 0.25s linear;
  transition: 0.25s linear; }

.button-3 {
  position: relative;
  cursor: pointer;
  display: inline-block;
  color: #198af3;
  -webkit-transition: 0.25s linear;
  transition: 0.25s linear; }
  .button-3:after {
    content: ">"; }

.button-4 {
  position: relative;
  cursor: pointer;
  display: inline-block;
  color: #198af3;
  -webkit-transition: 0.25s linear;
  transition: 0.25s linear; }
  .button-4:before {
    content: "<"; }

.button-5 {
  position: relative;
  cursor: pointer;
  display: inline-block;
  color: #198af3;
  -webkit-transition: 0.25s linear;
  transition: 0.25s linear; }

.button-6 {
  position: relative;
  font-family: "Lato-Bold", sans-serif;
  cursor: pointer;
  border: 1px solid #f5f5f6;
  display: inline-block;
  text-decoration: none;
  color: rgba(0, 0, 0, 0.75);
  padding: 4px 16px;
  background: #f5f5f6;
  border-radius: 2px;
  font-size: 13px;
  white-space: nowrap;
  -webkit-transition: 0.25s linear;
  transition: 0.25s linear; }

.button-7 {
  position: relative;
  cursor: pointer;
  display: inline-block;
  color: #198af3;
  text-decoration: none;
  -webkit-transition: 0.25s linear;
  transition: 0.25s linear; }

.button-1:hover {
  background: #0070c9;
  border: 1px solid #0070c9;
  -webkit-transition: 0.25s linear;
  transition: 0.25s linear; }

.button-2:hover {
  background: white;
  color: rgba(0, 0, 0, 0.75);
  -webkit-transition: 0.25s linear;
  transition: 0.25s linear; }

.button-3:hover,
.button-4:hover,
.button-5:hover {
  color: #0070c9;
  text-decoration: underline;
  -webkit-transition: 0.25s linear;
  transition: 0.25s linear; }

.button-6:hover {
  background: #e9e9e9;
  border: 1px solid #e9e9e9;
  -webkit-transition: 0.25s linear;
  transition: 0.25s linear; }

.button-7:hover {
  opacity: 0.75;
  -webkit-transition: 0.25s linear;
  transition: 0.25s linear; }

.disabled {
  pointer-events: none; }

.full {
  width: 100%;
  text-align: center; }

.button-5 i {
  margin-right: 5px;
  display: inline-block;
  vertical-align: middle; }

.loader-overlay {
  position: absolute;
  background: #f5f5f6;
  top: -1px;
  right: -1px;
  bottom: -1px;
  left: -1px;
  border: 1px solid #dedede; }

.button-1 .loader-overlay {
  background: #198af3;
  border: 1px solid #198af3; }

.button-5 .loader-overlay {
  background: transparent;
  border: none; }

.button-5 .loader {
  left: initial;
  right: -25px; }

.loader {
  top: 50%;
  left: 0;
  right: 0;
  bottom: 0;
  position: absolute;
  margin: 0 auto;
  width: 20px;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%); }
  .loader.primary {
    content: url(../assets/graphics/loader-white.gif); }
  .loader.secondary {
    content: url(../assets/graphics/loader-blue.gif); }

.button-fluid {
  width: 100%;
  display: block;
  text-align: center; }

.button-group > span {
  margin-left: 5px; }

button:focus {
  outline: none; }

/* Password Strength */
.weak,
.fair,
.strong {
  position: absolute;
  top: 9px;
  z-index: 3;
  height: 5px; }

.weak {
  width: 25%;
  background: #e2676a; }

.fair {
  width: 50%;
  background: #d96900; }

.strong {
  width: 95%;
  background: #438944; }

.weak-text {
  font-family: "Lato-Bold", sans-serif;
  color: #e2676a; }

.fair-text {
  font-family: "Lato-Bold", sans-serif;
  color: #d96900; }

.strong-text {
  font-family: "Lato-Bold", sans-serif;
  color: #438944; }

.password-strength {
  display: inline-block;
  width: 100%;
  height: 5px;
  background: #f5f5f6;
  vertical-align: middle; }

/* Checkbox */
.checkbox {
  display: block;
  padding: 5px 0; }
  .checkbox.column {
    display: inline-block;
    margin-right: 25px; }
  .checkbox input[type="checkbox"] {
    position: absolute;
    opacity: 0; }
    .checkbox input[type="checkbox"] + label {
      position: relative;
      cursor: pointer;
      display: inline-block;
      padding: 0;
      font-family: "Lato-Regular", sans-serif; }
    .checkbox input[type="checkbox"] + label:before {
      content: '';
      margin-right: 10px;
      display: inline-block;
      vertical-align: middle;
      width: 16px;
      height: 16px;
      background: white;
      border: 2px solid #324155; }
    .checkbox input[type="checkbox"]:hover + label:before {
      background: #e9e9e9; }
    .checkbox input[type="checkbox"]:checked + label:before {
      background: #324155; }
    .checkbox input[type="checkbox"]:disabled + label {
      color: #dedede;
      cursor: auto; }
    .checkbox input[type="checkbox"]:disabled + label:before {
      box-shadow: none;
      background: #dedede; }
    .checkbox input[type="checkbox"]:checked + label:after {
      content: '';
      position: absolute;
      left: 3px;
      top: 11px;
      background: white;
      width: 2px;
      height: 2px;
      box-shadow: 2px 0 0 white, 4px 0 0 white, 4px -2px 0 white, 4px -4px 0 white, 4px -6px 0 white, 4px -8px 0 white;
      transform: rotate(45deg); }

/* Radio Button */
.radio {
  display: block;
  padding: 5px 0; }
  .radio.column {
    display: inline-block;
    margin-right: 25px; }
  .radio input[type="radio"] {
    position: absolute;
    opacity: 0; }
    .radio input[type="radio"] + label {
      position: relative;
      cursor: pointer;
      display: inline-block;
      padding: 0;
      font-family: "Lato-Regular", sans-serif; }
    .radio input[type="radio"] + label:before {
      content: '';
      margin-right: 10px;
      display: inline-block;
      vertical-align: middle;
      width: 16px;
      height: 16px;
      -webkit-border-radius: 50%;
      -moz-border-radius: 50%;
      border-radius: 50%;
      background: white;
      border: 2px solid #324155; }
    .radio input[type="radio"]:hover + label:before {
      background: #e9e9e9; }
    .radio input[type="radio"]:checked + label:before {
      background: #324155; }
    .radio input[type="radio"]:disabled + label {
      color: #dedede;
      cursor: auto; }
    .radio input[type="radio"]:disabled + label:before {
      box-shadow: none;
      background: #dedede; }
    .radio input[type="radio"]:checked + label:after {
      content: '';
      position: absolute;
      left: 5px;
      top: 9px;
      background: white;
      width: 6px;
      height: 6px;
      -webkit-border-radius: 50%;
      -moz-border-radius: 50%;
      border-radius: 50%; }

/* Dropdown */
.select {
  width: 100%;
  height: 38px;
  background: url(../assets/graphics/dd-arrow-icon.png) no-repeat right 5px top 16px white;
  display: inline-block;
  position: relative;
  border-radius: 2px; }
  .select select {
    outline: 0;
    cursor: pointer;
    background: transparent;
    -webkit-appearance: none;
    -moz-appearance: none;
    width: 100%;
    border: 1px solid #dedede;
    height: 38px;
    position: relative;
    left: 0;
    top: 0;
    padding: 5px 25px 5px 5px;
    color: rgba(0, 0, 0, 0.75);
    border-radius: 2px; }
    .select select:focus {
      border: 1px solid #999999; }

/* Popup */
.popup {
  display: none;
  position: fixed;
  z-index: 1001;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%; }

.popup-overlay {
  background: rgba(0, 0, 0, 0.75);
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0; }

.popup-header {
  font-family: "Lato-Bold", sans-serif;
  font-size: 18px;
  padding: 15px;
  border-top-right-radius: 3px;
  border-top-left-radius: 3px;
  border-bottom: 1px solid #e9e9e9; }
  .popup-header span {
    cursor: pointer;
    margin-right: 10px;
    -webkit-transition: 0.25s linear;
    transition: 0.25s linear; }

.popup-footer {
  padding-top: 20px;
  padding-bottom: 20px;
  border-top: 1px solid #e9e9e9; }
  .popup-footer > div > span {
    margin-right: 5px; }
    .popup-footer > div > span:last-child {
      margin-right: 0; }

.popup-content {
  position: absolute;
  left: 0;
  right: 0;
  margin: 0 auto;
  top: 50%;
  transform: translateY(-50%); }

/* Media Queries */
